In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv('/content/drive/MyDrive/Housing.csv')

In [3]:
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [4]:
housing[housing["total_rooms"]>1.5*abs(1447-3148)]

       longitude  latitude  ...  median_house_value  ocean_proximity
1        -122.22     37.86  ...            358500.0         NEAR BAY
7        -122.25     37.84  ...            241400.0         NEAR BAY
8        -122.26     37.84  ...            226700.0         NEAR BAY
9        -122.25     37.84  ...            261100.0         NEAR BAY
11       -122.26     37.85  ...            241800.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20606    -121.57     39.12  ...             56600.0           INLAND
20629    -121.39     39.12  ...            108300.0           INLAND
20630    -121.32     39.29  ...            112000.0           INLAND
20631    -121.40     39.33  ...            107200.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[7767 rows x 10 columns]

In [5]:
X = housing.drop(['median_house_value','ocean_proximity'],axis=1)

In [6]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype='object')

In [7]:
X = housing[['housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income']].copy()

In [8]:
X = X.dropna(axis=1)

In [9]:
y=housing['median_house_value'].copy()

In [10]:
y.head(2)

0    452600.0
1    358500.0
Name: median_house_value, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Linear Regression

In [13]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
from sklearn.metrics import mean_squared_error
lin_reg_pred=lin_reg.predict(X_train)
lin_reg_mse = mean_squared_error(y_train,lin_reg_pred)
lin_reg_mse

5798038784.98622

In [15]:
lin_reg_pred=lin_reg.predict(X_test)
lin_reg_mse = mean_squared_error(y_test,lin_reg_pred)
lin_reg_mse

5909928044.702561

# Decision Tree

In [16]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [17]:
from sklearn.metrics import mean_squared_error
Tree_reg_pred=tree_reg.predict(X_train)
Tree_reg_mse = mean_squared_error(y_train,Tree_reg_pred)
Tree_reg_mse

0.0

In [18]:
Tree_reg_pred=tree_reg.predict(X_test)
Tree_reg_mse = mean_squared_error(y_test,Tree_reg_pred)
Tree_reg_mse

8908308913.812984